<footer class="footer">
<div class="footer-container">
<div class="footer-col brand">
<h2>
          OnLibros.
        </h2>
<p>
          © 2025 OnLibros.
          <br/>
          Todos los derechos reservados
        </p>
</div>
<div class="footer-col">
<h4>
          Sobre Nosotros
        </h4>
<ul>
<li>
<a href="#">
              Acerca de
            </a>
</li>
<li>
<a href="#">
              Ubicación
            </a>
</li>
<li>
<a href="#">
              Contacto
            </a>
</li>
<li>
<a href="#">
              Seguimiento de pedidos
            </a>
</li>
</ul>
</div>
<div class="footer-col">
<h4>
          Síguenos
        </h4>
<ul>
<li>
<a href="#">
<i class="fab fa-facebook-f">
</i>
              Facebook
            </a>
</li>
<li>
<a href="#">
<i class="fab fa-twitter">
</i>
              Twitter
            </a>
</li>
<li>
<a href="#">
<i class="fab fa-instagram">
</i>
              Instagram
            </a>
</li>
<li>
<a href="#">
<i class="fab fa-youtube">
</i>
              YouTube
            </a>
</li>
</ul>
</div>
<div class="footer-col subscribe">
<h4>
          Suscribirse
        </h4>
<p>
          Recibe actualizaciones por correo sobre nuestra tienda y ofertas especiales.
        </p>
<input placeholder="Introduce tu correo..." type="email"/>
<button>
          Suscribirse
        </button>
</div>
</div>
</footer>