<header class="header-area">
    <div class="nav-top">
        <div class="logo">
            <a href="#"><img alt="Logo" src="assets/img/logo/logo.jpg" /></a>
        </div>
        <div class="search-box flex-grow-1 mx-4">
            <input class="form-control" placeholder="Buscador..." type="text" />
        </div>
        <div class="header-icons d-flex gap-3">
            <a href="#"><i class="fa fa-user"></i></a>
            <a href="#"><i class="fa fa-heart"></i></a>
            <a href="#"><i class="fa fa-shopping-cart"></i></a>
            <button aria-label="Abrir menú de géneros" class="icon-button" id="genre-toggle"><i
                    class="fas fa-bars"></i></button>
        </div>
    </div>
    <nav class="nav-bar">
        <div class="nav-links">
            <div class="genre-menu">
                <ul>
                    <li><a href="#">Ficción</a></li>
                    <li><a href="#">Misterio</a></li>
                    <li><a href="#">Romance</a></li>
                    <li><a href="#">Fantasía</a></li>
                    <li><a href="#">Infantiles</a></li>
                    <li><a href="#">Ciencia Ficción</a></li>
                    <li><a href="#">Biografía</a></li>
                    <li><a href="#">Historia</a></li>
                    <li><a href="#">Autoayuda</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
